<?xml version="1.0" encoding="utf-8"?>
<CONFIG xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LANGUAGE>ko</LANGUAGE>
  <WEBSERVERS/>
  <DLLFILES>
    <DLLFILE>MOM.RPT.Modules.dll</DLLFILE>
  </DLLFILES>
  <SYSTEM>MOM.RPT</SYSTEM>
  <DIVISION_CD>TU</DIVISION_CD>
  <COMPANY_CD>EDU</COMPANY_CD>
  <USERID />
  <STARTVIEW>RPT_01View</STARTVIEW>
  <MAINWINDOW>MainWindow</MAINWINDOW>

  <REPORT_DIR>C:\SMARTMOM\MOM.RPT\REPORT</REPORT_DIR>
  <REPORT_MODE>PRINT</REPORT_MODE>
  <!--<REPORT_MODE>DESIGN</REPORT_MODE>-->
</CONFIG>