<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property value="oracle.jdbc.driver.OracleDriver" name="driverClassName" />
       
       <!-- FINEAL_TEST -->
<!-- 		<property name="url" value="jdbc:oracle:thin:@mom.thirautech.com:13000:orarnbd" /> -->
<!-- 		<property name="username" value="finealtech_test" /> -->
<!-- 		<property name="password" value="finealtech_test" /> -->
       
		<!-- MSE 운영 -->
<!-- 		<property name="url" value="jdbc:oracle:thin:@112.222.99.21:37073:orcl" /> -->
<!-- 		<property name="username" value="TU_ADMIN" /> -->
<!-- 		<property name="password" value="tu_admin" /> -->
		
		<!-- FINEALTECH - PLAND -->
		<!-- <property name="url" value="jdbc:oracle:thin:@10.10.1.7:1521:orcl" />
		<property name="username" value="tu_admin" />
		<property name="password" value="tu_admin" /> -->
		
		<!-- THIRAUTECH -->
		<property name="url" value="jdbc:oracle:thin:@smartmom.iptime.org:11003:orcl" />
		<property name="username" value="tu_admin" />
		<property name="password" value="tu_admin2018" />
		
		<!-- R&BD CLOUD -->
 		<!-- <property name="url" value="jdbc:oracle:thin:@thirautech.cr7fpgj75y68.ap-northeast-2.rds.amazonaws.com:1521:THIRA" />
 		<property name="username" value="TU_ADMIN" />
 		<property name="password" value="tu_admin" /> -->

		<!-- AWS CLOUD -->
		<!-- <property name="url" value="jdbc:oracle:thin:@tu-platform.cnvt0vdvbf4w.ap-northeast-2.rds.amazonaws.com:1521:ORCL" />
		<property name="username" value="tuplatform_master" />
		<property name="password" value="tuplatform_master00" /> -->
		
		<!-- FINEALTECH -->
<!-- 		<property name="url" value="jdbc:oracle:thin:@211.199.87.241:1521:ORCL" /> -->
<!-- 		<property name="username" value="tu_admin" /> -->
<!-- 		<property name="password" value="tu_admin2018" /> -->
	</bean>
	
</beans>